<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>collect</key>
		<string>34</string>
		<key>news</key>
		<string>67</string>
		<key>browse</key>
		<string>324</string>
		<key>text</key>
		<string>这是一款非常美丽的应用，他可以吃，可以喝，还可以用，这么好用大家都在用</string>
		<key>name</key>
		<string>碎玉二线</string>
		<key>image</key>
		<string>2</string>
	</dict>
	<dict>
		<key>collect</key>
		<string>76</string>
		<key>news</key>
		<string>98</string>
		<key>browse</key>
		<string>345</string>
		<key>text</key>
		<string>这是一款非常美丽的应用，他可以吃，可以喝，还可以用，这么好用大家都在用</string>
		<key>name</key>
		<string>有你有我</string>
		<key>image</key>
		<string>3</string>
	</dict>
	<dict>
		<key>collect</key>
		<string>132</string>
		<key>news</key>
		<string>434</string>
		<key>browse</key>
		<string>9844</string>
		<key>text</key>
		<string>这是一款非常美丽的应用，他可以吃，可以喝，还可以用，这么好用大家都在用</string>
		<key>name</key>
		<string>Tinge</string>
		<key>image</key>
		<string>4</string>
	</dict>
	<dict>
		<key>collect</key>
		<string>43</string>
		<key>news</key>
		<string>76</string>
		<key>browse</key>
		<string>90</string>
		<key>text</key>
		<string>这是一款非常美丽的应用，他可以吃，可以喝，还可以用，这么好用大家都在用</string>
		<key>name</key>
		<string>充电器是吧？</string>
		<key>image</key>
		<string>5</string>
	</dict>
	<dict>
		<key>collect</key>
		<string>65</string>
		<key>news</key>
		<string>52</string>
		<key>browse</key>
		<string>675</string>
		<key>text</key>
		<string>这是一款非常美丽的应用，他可以吃，可以喝，还可以用，这么好用大家都在用</string>
		<key>name</key>
		<string>看来吧我</string>
		<key>image</key>
		<string>6</string>
	</dict>
	<dict>
		<key>collect</key>
		<string>65</string>
		<key>news</key>
		<string>52</string>
		<key>browse</key>
		<string>4676</string>
		<key>text</key>
		<string>这是一款非常美丽的应用，他可以吃，可以喝，还可以用，这么好用大家都在用</string>
		<key>name</key>
		<string>背包客</string>
		<key>image</key>
		<string>7</string>
	</dict>
</array>
</plist>
